h2 {

    color: blue;
    font-size: 25px;
}
p {
    color: darkgray;
}

.title {
    width: 300px;
    height: auto;
    background-color: cyan;
    border-radius: 10px;
    text-align: center;
    margin: auto;
}
.section {
    width: auto;
    height: fit-content;
    text-align: center;
    background-color: lightcyan;
    border-radius: 200px;
    margin: auto;
}

#title-heading {
    font-family: 'Courier New';
    color: tomato;
}
#RRR {
    color: lightgreen;
    font-size: 17px;
}
